# Dependencies
node_modules/

# Production builds
dist/
dist-ssr/

# Test coverage
coverage/

# Environment files
.env
.env.*
!.env.example

# Deployments & local caches
.vercel/
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Keys and certificates
*.pem
*.key

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
